{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row g-4">
    <div class="col-lg-3">
        <div class="dashboard-sidebar p-3">
            <h4 class="mb-4">Student Menu</h4>
            <div class="list-group">
                <a href="{% url 'student_dashboard' %}" class="list-group-item list-group-item-action">Dashboard</a>
                <a href="{% url 'my_profile' %}" class="list-group-item list-group-item-action active">My Profile</a>
                <a href="{% url 'my_room' %}" class="list-group-item list-group-item-action">My Room</a>
                <a href="{% url 'book_hostel' %}" class="list-group-item list-group-item-action">Book Hostel</a>
                <a href="{% url 'room_details' %}" class="list-group-item list-group-item-action">Room Details</a>
                <a href="{% url 'change_password' %}" class="list-group-item list-group-item-action">Change Password</a>
                <a href="{% url 'request_permission' %}" class="list-group-item list-group-item-action">Permission Request</a>
                <a href="{% url 'logout' %}" class="list-group-item list-group-item-action text-danger">Logout</a>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-md-12">
                <h2>My Profile</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Reg No:</strong> {{ student.regno }}</p>
                                <p><strong>Name:</strong> {{ student.full_name }} {{ student.last_name }}</p>
                                <p><strong>Email:</strong> {{ student.user.email }}</p>
                                <p><strong>Date of Birth:</strong> {{ student.date_of_birth }}</p>
                                <p><strong>Course:</strong> {{ student.course }}</p>
                                <p><strong>Duration:</strong> {{ student.duration }}</p>
                                <p><strong>Food:</strong> {% if student.food %}With Food{% else %}Without Food{% endif %}</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Personal Details:</strong> {{ student.personal_details }}</p>
                                <p><strong>Parent Name:</strong> {{ student.parent_name }}</p>
                                <p><strong>Parent Contact:</strong> {{ student.parent_contact }}</p>
                                <p><strong>Parent Email:</strong> {{ student.parent_email }}</p>
                                <p><strong>Proctor Name:</strong> {{ student.proctor_name }}</p>
                                <p><strong>Proctor Contact:</strong> {{ student.proctor_contact }}</p>
                                <p><strong>Hostel Incharge Name:</strong> {{ student.hostel_incharge_name }}</p>
                                <p><strong>Hostel Incharge Contact:</strong> {{ student.hostel_incharge_contact }}</p>
                            </div>
                        </div>
                        <div class="mt-3">
                            <img src="{{ student.image.url }}" alt="Profile Image" class="img-fluid rounded" style="max-width: 200px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}